#calculator {
	width: 95%;
	margin-inline: auto;
	border: 3px solid var(--accent-color);
	border-radius: 10px;
	padding: 0.25rem;
	font-family: 'Bitter';
	font-size: 1.5rem;
	text-align: right;
	max-height: 80vh;
	background-color: #fff;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
	transition: all 1s ease;

	@include media-breakpoint-up(md) {
		width: 30%;
	}

	.displays {
		padding-block: 0.5rem;
		padding-inline: 1rem;
		overflow-x: auto;
		display: flex;
		flex-direction: row-reverse; // Trick to keep scroll overflow at the newest input

		&#display {
			margin-inline: 1rem;
			border-radius: 10px;
			font-size: 3rem;
			color: #fff;
			background-color: var(--accent-color-transparent);
			transition: background-color 1s ease;
			margin-bottom: 1rem;
		}

		&#sub-display {
			color: var(--accent-color);
		}
	}

	#button-grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-template-areas:
			'clear clear divide multiply'
			'seven eight nine subtract'
			'four five six add'
			'one two three equals'
			'zero zero decimal equals';

		$button-ids: 'zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'add', 'subtract', 'multiply',
			'divide', 'equals', 'clear', 'decimal';

		@each $id in $button-ids {
			##{$id} {
				grid-area: #{$id};
				min-height: 5rem;
			}
		}

		button {
			border: 0;
			background-color: inherit;
			padding: 0;
			border-radius: 5px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
			color: var(--accent-color);
			transition: color 1s ease;
			font-weight: bold;

			@media (hover: hover) {
				&:hover {
					background-color: var(--accent-color-transparent);
					box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
				}
			}

			&:active,
			&.clicked {
				background-color: var(--accent-color-transparent);
				box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
			}

			&#equals:active,
			&#equals.clicked {
				background-color: var(--accent-color);
			}

			&#equals {
				color: #fff;
				background-color: var(--accent-color-transparent);
				transition: background-color 1s ease;
			}
		}
	}
}
