#timer-app {
	background-color: #58a0ff;
	width: 95%;
	margin-inline: auto;
	padding: 1rem;
	border-radius: 10px;
	font-family: 'Bitter';
	color: white;
	text-align: center;
	display: grid;
	transition: bg-color 1s ease;

	@include media-breakpoint-up(md) {
		grid-template-columns: 1fr 1fr;
		width: 40%;

		div:first-child {
			grid-column: 1 / 3;
			margin-inline: auto;
		}
	}

	button {
		background-color: inherit;
		border: none;
	}

	p {
		margin: 0;
		font-size: 2rem;
	}

	#timer {
		font-size: 3rem;
		border-radius: 5px;

		#time-left {
			font-size: 5rem;
			display: block;
			margin: 0;
		}

		h2 {
			font-size: 2rem;
			margin: 0;
		}

		img {
			width: 2rem;
			display: block;
		}

		button {
			margin-inline: 1rem;
		}
	}

	#break-settings,
	#session-settings {
		align-self: end;
		margin-block: 0.5rem;

		@include media-breakpoint-up(md) {
			margin-inline: 4rem;
		}

		.controls {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;

			img {
				width: 1.5rem;
			}
		}

		h2 {
			font-size: 1rem;

			@include media-breakpoint-up(md) {
				font-size: 1rem;
			}
		}
	}

	#session-settings {
		margin-top: 2rem;
	}
}
