@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
$ff-accent: 'Bitter';
$ff-primary: 'Karla';

@mixin ff-accent($weight: normal) {
	font-family: $ff-accent;
	font-weight: $weight;
}

@mixin ff-accent-italics($weight: normal) {
	font-family: $ff-accent;
	font-style: italic;
	font-weight: $weight;
}

@mixin ff-primary($weight: normal) {
	font-family: $ff-primary;
	font-weight: $weight;
}

@mixin ff-primary-italics($weight: normal) {
	font-family: $ff-primary;
	font-style: italic;
	font-weight: $weight;
}
