@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import 'QuoteApp.scss';
@import 'MarkdownApp.scss';

nav {
    &>h1 {
        flex: 1;
    }
    &>:not(h1) {
        flex: 0.5;
    }
    img {
        width: 2rem;
    }
}