@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'QuoteApp';
@import 'MarkdownApp';
@import 'DrumApp';
@import 'CalculatorApp';
@import 'TimerApp';

div#app {
	min-height: 100vh;
	transition: background-color 1s ease;
}

nav {
	& > h1 {
		@include ff-accent-italics(medium);
		font-size: 3rem;
		flex: 1;
	}
	& > :not(h1) {
		flex: 0.5;
	}
	svg {
		width: 5rem;
	}
}
